<%= javascript_include_tag 'projects/overlays.js'%>
<div id="overlay" class="overlay"></div>

<div id="projects">
  <%=image_tag('pickupbanner.png', class: 'project', id: 'Pick Up')%>
  <%=image_tag('mtgdrafterbanner.png', class: 'project', id: 'Magic Draft Simulator')%>
  <%=image_tag('sfartbanner.png', class: 'project', id: 'SF Open Art')%>
  <%=image_tag('pitbullbanner.png', class: 'project', id: 'Pitbull Roulette')%>
</div>