<div id="overlay" class="overlay"></div>
<div id = "imagegrid">
<%=image_tag("hyphen.jpg", class: "mainimage", id: "H")%>
<%=image_tag("campus.jpg", class: "mainimage", id: "E")%>
<%=image_tag("magic.jpg", class: "mainimage", id: "L")%>
<br>

<%=image_tag("rails.jpg", class: "mainimage", id: "L")%>
<%=image_tag("sf.jpg", class: "mainimage", id: "O")%>
<div class="placeholder"></div>

</div>
