<div id = "imagegrid">
<%=image_tag("hyphen.jpg", class: "mainimage")%>
<%=image_tag("campus.jpg", class: "mainimage")%>
<%=image_tag("magic.jpg", class: "mainimage")%>
<br>

<%=image_tag("rails.jpg", class: "mainimage")%>
<%=image_tag("sf.jpg", class: "mainimage")%>
<div class="placeholder"></div>

</div>
