<div id="projectbox">
<%=image_tag('pickup.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "https://github.com/Juxtaposeidon/PickUp", :target => '_blank'%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://pickuptheapp.herokuapp.com/", :target => '_blank'%></span>
<p>
  Pick Up was my final project at DevBootcamp, in which I worked in a team to develop, test, and deploy the final product. It is an app that allows people to participate in on-the-go sporting activities, such as tennis, football, and basketball. Users can either host their own events or search for others to join.
</p>
</div>
<%=image_tag('pitbull.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "https://github.com/Juxtaposeidon/pitroul", :target => '_blank'%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://pitbullroulette.herokuapp.com/", :target => '_blank'%></span>
<p>
  Someone challenged me to built a Pitbull-related app, and I responded with this nifty item. The purpose of the app is to generate random Pitbull content. The app works through the YouTube API to deliver an neverending aural and visual Pitbull experience. Users can pull up a random Pitbull song with the help of the SoundCloud API. Lastly, Giphy API is there to showcase the rapper (and some dogs) in animated image form. This project mainly allowed me to explore playing with APIs, to mixed success.
</p>
</div>
<%=image_tag('mtgdrafter.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "https://github.com/Juxtaposeidon/MagicBFZLimitedSim", :target => '_blank'%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://bfzlimitedsim.herokuapp.com/", :target => '_blank'%></span>
<p>
  As someone who loves Magic: the Gathering, I wanted to build something that would help me study and improve my game. I decided to build a Magic limited simulator for the Battle for Zendikar expansion, which allows me and others to practice picking cards in the sealed and draft game formats. I consider this a work in progress because I could spend a lot more time in developing how the "AI" chooses its cards, but the product exists in a working form!
</p>
</div>
<%=image_tag('sfart.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "https://github.com/Juxtaposeidon/SF-Open-Art", :target => '_blank'%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://sfopenart.herokuapp.com/", :target => '_blank'%></span>
<p>
I spend a lot of my free time supporting artists in the San Francisco community. One app I wanted to prototype for them would allow people to find their works through the help of Google Maps. With the help of the SF OpenData city database, I created an app that can load all civic art locations in San Francisco onto a map. Users can search for displays that are nearby their current location, view projects around a certain address, and pull up pieces by artist.
</p>
</div>
</div>