<div id="projectbox">
<%=image_tag('pickup.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "http://www.github.com"%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://www.github.com"%></span>
</div>
<%=image_tag('pitbull.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "http://www.github.com"%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://www.github.com"%></span>
</div>
<%=image_tag('mtgdrafter.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "http://www.github.com"%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://www.github.com"%></span>
</div>
<%=image_tag('sfart.png', class: 'project')%>
<div class="projectdesc">
<span class = "projectlink"><%=link_to 'Github', "http://www.github.com"%></span>
<span class = "projectlink"><%=link_to 'Heroku', "http://www.github.com"%></span>
</div>
</div>