<!DOCTYPE html>
<html>
<head>
  <title>Justin Yee Web Dev.</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="icon">
<%=image_tag("trident.jpg")%>
<span class="name">Justin Yee Web Development</span>
</div>

<div class="navholder">
<ul class="nav nav-pills nav-justified">
  <li role="presentation"><%=link_to "Home", root_path, class: "index"%></li>
  <li role="presentation"><%=link_to "Projects", website_projects_path, class: "projects"%></li>
<!--   <li role="presentation"><%=link_to "Resume", website_resume_path, class: "resume" %></li> -->
  <li role="presentation"><%=link_to image_tag('github.png', class: 'contactimg'), 'http://www.github.com/juxtaposeidon', :target => '_blank'%></li>
  <li role="presentation"><%=link_to image_tag('linkedin.png', class: 'contactimg'), 'http://www.linkedin.com/in/justinckyee', :target => '_blank'%></li>
  <li role="presentation"><%=link_to image_tag('email.png', class: 'contactimg'), 'mailto:jy243@cornell.edu', :target => '_blank' %></li>
</ul>
</div>
</header>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
